################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/obj/Debug/net6.0-windows
/.vs/WpfApp1/FileContentIndex
/WpfApp1/obj
/WpfApp1/bin/Debug/net6.0-windows
/.vs/WpfApp1/v17
/.vs/ProjectEvaluation
/.vs/WpfApp1/DesignTimeBuild
