################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/obj/Debug/net6.0-windows
/.vs/WpfApp1/FileContentIndex
